<h1>Welcome to Life Academy</h1>
<p></p>
<script type="text/javascript">
    let ageValue = window.prompt("Enter your age: ");
    //alert(`You are ${ageValue} years old!`);
    const value = document.querySelector('p');
    value.textContent = `You are ${ageValue} years old.`;
    
</script>

